#container {
    text-align: center;
}

#score {
    margin-top: 20px;
    font-size: 20px;
}

#maxScore {
    margin-top: 20px;
    font-size: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #4CAF50;
}

#startButton {
    display: none;
}